body {
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
.panel {
    height: 64px;
    width: 128px;
    margin: 8px;
    line-height: 64px;
    background-color: #1a1a52;
    box-shadow: 2px 2px 8px 2px black;
    cursor: pointer;
}